
*{
    background-color: #bdbdbd;
}

.padre {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(245, 143, 26);
}

.hija {
    border: dashed;
    padding: 2em;
    text-align: center;
    font-size: 4em;
    font-family: monospace;
    background-color: rgb(255, 220, 220);
}

h3  {
    background-color: rgb(255, 220, 220);
    border-radius: 50%;
    color: rgb(5, 0, 56);
}

label {
    background-color: rgb(255, 220, 220);
    color: rgb(152, 18, 0);
    font-size: 2em;
}