/* ESTRUCTURA GENERAL!!! 
selector {
    propiedad:valor;
}
*/

.Titulo {
    color: #eb3b00;
    font-size: 2em;
}

.contact-form {
    background-color: #000000;
}

.contact-form__label{
    color: #36a1ff;
    font-size: 2em;
}

.contact-form__input{
    color: #00ff00;
    font-size: 2em;
}