/* ESTRUCTURA GENERAL!!! 
selector {
    propiedad:valor;
}
*/

.Titulo {
    color: #eb3b00;
    font-size: 2em;
}

.contact-form {
    margin:auto;

}

.contact-form__label{
    color: #000000;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

.contact-form__input{
    color: #00ff00;
    font-size: 1em;
}




















