/* ESTRUCTURA GENERAL!!! 
selector {
    propiedad:valor;
}
*/

.Titulo {
    color: #eb3b00;
    font-size: 2em;
}

.contact-form {
    background-color: #86a3f7;
}

.contact-form__label{
    color: #000000;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.contact-form__input{
    color: #00ff00;
    font-size: 2em;
}